<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.bus.dao.IBusDao">

    <resultMap id="busResultMap" type="com.solvd.bus.domain.Bus" autoMapping="false">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap id="stopResultMap" type="com.solvd.bus.domain.BusStop" autoMapping="false">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="terminal" property="terminal"/>
    </resultMap>

    <select id="select" parameterType="int" resultMap="busResultMap">
        SELECT id, name FROM Buses WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="busResultMap">
        SELECT * FROM Buses
    </select>

    <select id="selectAllBusStopsByBusID" parameterType="int" resultMap="stopResultMap">
        SELECT s.id, s.latitude, s. longitude, s.name, s.terminal, s.city_id FROM Stops s JOIN Combinations r ON s.id =
        r.stop_id WHERE r.bus_id = #{id}
    </select>

</mapper>